body{
  position: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.div{

  background-color: rgb(149, 197, 126);
  border: 1px solid black;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
 
  
   
   

}

.wajdan{
  position: absolute;
  top: 8px;
  left: 0;
  transform: translateX(100%);
  text-align: center;
  background-color: rgb(149, 197, 126);
  border: 1px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  
  }


.hello{
  text-decoration: underline;
}

img{

  width: 100px;
  float: right;
  margin: 2px;
  border: 2px solid black;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}



  @keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100);
    }
}


.div , .wajdan {
    animation: slideIn 3s ease forwards;

}


